@model PFVentas.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Venta</h1>

<h3>Esta seguro de eliminar esta venta?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanalVta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanalVta)
        @*</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVtaUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVtaUnit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VentaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado de ventas</a>
    </form>
</div>
