@model PFVentas.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de producto</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantExist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantExist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioCosto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoId">Editar</a> |
    <a asp-action="Index">Volver al listado de productos</a>
</div>
